<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication | Highlight</title>

    <script src="/dist/auth.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Laila" rel="stylesheet">
</head>
<body>
<div id="rootContainer">
    <div id="authContainer" class="login">
        <div class="authContainer__header">
            <h1 class="authContainer__header__title">Highlight</h1>
            <div class="authContainer__header__options">
                <div class="authContainer__header__options_login">Login</div>
                <div class="authContainer__header__options_signup">Sign Up</div>
            </div>
        </div>
        <div class="authContainer__content">
            <div class="authContainer__auth-message">
                <span>Login to Your Account</span>
            </div>
            <div class="authContainer__credentials">
                <input id="authContainerEmail" placeholder="Email">
                <input id="authContainerConfirmEmail" placeholder="Confirm your Email">
                <input id="authContainerPassword" placeholder="Password" type="password">
            </div>
            <div class="authContainer__error-container">
                <span id="authContainerError"></span>
            </div>
            <div class="authContainer__buttons">
                <button class="authContainer__buttons-btn" id="authContainerSignIn">Sign In</button>
                <button class="authContainer__buttons-btn" id="authContainerSignUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>