<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Highlight</title>

    <script src="/js/dashboard.js"></script>

    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="rootContainer">
    <div id="menuContainer"></div>
    <div id="libraryContainer">
    </div>
    <div id="contentContainer">
        <div id="contentToolbarContainer">
            <div id="contentToolbar">
                <img class="content-toolbar-item" src="/icons/save.png" onclick="ContentEditor.saveDocument()">
                <img class="content-toolbar-item" src="/icons/bold.png" onclick="ContentEditor.boldSelection()">
            </div>
            <div style="text-align: center; color: #776400; font-size: larger;" id="tempStatusMsg"></div>
        </div>
        <div id="content" contenteditable="true"></div>
    </div>
</div>

</body>
</html>