<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Highlight</title>

    <script src="/js/dashboard.js"></script>

    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="rootContainer">
    <div id="menuContainer"></div>
    <div id="libraryContainer">
    </div>
    <div id="contentContainer">
        <div id="contentToolbar"></div>
        <div id="content"></div>
    </div>
</div>

</body>
</html>