<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Highlight</title>

    <script src="/dist/dashboard.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Laila" rel="stylesheet">
</head>
<body>
<div id="rootContainer">
    <div id="menuContainer">
        <div id="menuIcons">
            <div class="menu-icon" onclick="Dashboard.displayLibrary(Dashboard.libraries.DOCUMENT)">
                <img src="/icons/document-blue.png">
            </div>
            <div class="menu-icon" style="padding: 10px 0;" onclick="Dashboard.displayLibrary(Dashboard.libraries.TAG)">
                <img src="/icons/tag-blue.png">
            </div>
        </div>
    </div>
    <div id="libraryContainer">
        <div id="documentLibrary" class="generalLibrary">
            <div style="position: relative;">
                <h1 id="documentLibraryTitle">Documents</h1>
                <img id="documentLibrary_addNewDocument" src="/icons/new-document.png"
                     onclick="Dashboard.createNewDocument()">
            </div>
            <!--TODO add the scroll to this div-->
            <div id="documentLibraryList">
            </div>
        </div>
        <div id="tagLibrary" class="generalLibrary" style="display:none;">
            <h1 id="tagLibraryTitle">Tags</h1>
            <!--TODO add the scroll to this div-->
            <div id="tagLibraryList"></div>
            <div id="tagLibrary--documentList"></div>
        </div>
    </div>
    <div id="contentContainer">
        <div id="contentToolbarContainer">
            <div id="contentToolbar">
                <div style="flex-grow: 1;">
                    <img class="content-toolbar-item" src="/icons/bold.png" onclick="ContentEditor.boldSelection()">
                    <img class="content-toolbar-item" src="/icons/color.png"
                         onclick="ContentEditor.changeSelectionColor()">
                    <img class="content-toolbar-item" src="/icons/remove-formatting.png"
                         onclick="ContentEditor.removeSelectionFormatting()">
                    <img id="documentGoldStar" class="content-toolbar-item" src="/icons/star.png"
                         onclick="Dashboard.switchDocumentGoldStatus()">
                    <img class="content-toolbar-item" src="/icons/trash.png"
                         onclick="Dashboard.deleteDocument()">
                </div>
                <div>
                    <div id="tagContainer" onclick="Dashboard.tagEditor.showTagEditor()">
                        <!--TODO don't show ::before in tags-->
                        <input id="tagsInput" onkeydown="Dashboard.tagEditor.onkeydown(event)" placeholder="Tags">
                    </div>
                </div>
            </div>
            <div id="tempStatusMsg"></div>
        </div>
        <div id="content" contenteditable="true" onkeyup="ContentEditor.contentEditorOnKeyUp(event)"></div>
    </div>
</div>
<div id="modalContainer">
    <div id="modalContainerModal" class="modal" onclick="Dashboard.modalContainer.hide();"></div>
</div>
</body>
</html>