:root {
    --menu-container-width: 75px;
    --library-container-width: 480px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

#rootContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

#menuContainer {
    width: var(--menu-container-width);
    background-color: #f3f3f3;
}

#libraryContainer {
    width: var(--library-container-width);
    padding: 7px 0;
    overflow-x: hidden;
    box-shadow: 1px 0 5px #00000080;
}

#contentContainer {
    width: calc(100% - var(--menu-container-width) - var(--library-container-width));
    background-color: #f1fbffb3;
    overflow-y: auto;
    padding: 0 15px;
}

.library-template-container {
    padding: 8px 7px;
}

.library-template-container:hover , .tagLibrary--doc:hover{
    box-shadow: 0 0 5px #4b4b4b66;
    background-color: #0776ff;
    color: white;
}

.library-template-title {
    margin-bottom: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.library-template-title:hover .library-template-external-link {
    display: inline;
}

.library-template-external-link {
    display: none;
    opacity: 0.6;
    width: 20px;
    vertical-align: bottom;
    margin-left: 5px;
}

.library-template-url {
    margin-left: 10px;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content {
    margin: 0 auto;
    max-width: 1160px;
    font-family: 'Laila', serif;
}

#contentToolbarContainer {
    height: 100px;
    display: flex;
    justify-content: center;
}

#contentToolbar {
    position: fixed;
    width: 1163px;
    border-bottom: solid 1px #9e9e9e;
    height: 66px;
    display: flex;
    align-items: end;
    background-color: #f5fcff;
}

.content-toolbar-item {
    align-self: end;
    padding: 5px;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s;
}

.content-toolbar-item:hover {
    transform: scale(1.1);
}

#contentToolbar img {
    width: 35px;
}

#documentLibraryTitle, #tagLibraryTitle {
    font-family: Raleway, serif;
    font-variant: small-caps;
    margin-left: 6px;
    color: #0070ff;
    display: inline;
}

#documentLibrary_addNewDocument {
    right: 0;
    position: absolute;
    width: 34px;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
}

#menuIcons {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.menu-icon {
    text-align: center;
    margin: 0 8px;
    border-bottom: solid 1px #0003;
    padding: 7px 0;
}

.menu-icon:hover {
    border-bottom: solid 1px #0070ff;
    cursor: pointer;
}

.menu-icon img {
    width: 65%;
}

#documentLibraryList {
    overflow-y: auto;
}

#tempStatusMsg {
    display: none;
    text-align: center;
    color: #fff;
    font-size: larger;
    position: absolute;
    top: 18px;
    right: 101px;
    font-family: Raleway, serif;
    background-color: #67a7fa;
    border-radius: 6px;
    padding: 6px 13px;
    box-shadow: 0 0 5px #0000004d;
    font-weight: bold;
    letter-spacing: 2px;
}

#highlightModal::before, #highlightModal::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    left: 50%;
    z-index: -1;
    box-shadow: 3px 3px 4px #0003;
}

#highlightModal::before {
    top: -17%;
}

#highlightModal::after {
    top: 83%;
}

#documentGoldStar {
    transition: all 0.2s;
}

#documentGoldStar.active {
    background-color: gold;
    border-radius: 50%;
}

/*#singleInputModal {
    position: fixed;
    background-color: white;
    z-index: 1;
    left: 41%;
    top: 20%;
    box-shadow: 0 0 5px #0009;
    border-radius: 5px;
    max-width: 500px;
    padding: 7px;
}*/

.dashboard-modal__header {
    border-bottom: solid 1px #0000001a;
}

.dashboard-modal__header h4 {
    font-family: Raleway, serif;
}

.dashboard-modal__content {
    padding: 20px 0;
    border-bottom: solid 1px #0000001a;
}

#singleInputModal_input {
    border: none;
    background-color: #ededed;
    border-radius: 24px;
    padding: 5px 9px;
    width: 100%;
}

.dashboard-modal__footer {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.dashboard-modal__footer button {
    border: none;
    border-radius: 5px;
    padding: 2px 13px;
    box-shadow: 0 0 3px #535353b3;
    margin: 0 4px;
    font-family: Raleway, serif;
}

.dashboard-modal__footer button:hover {
    box-shadow: 0 0 3px #050505;
}

.dashboard-modal {
    position: fixed;
    background-color: white;
    z-index: 1051;
    box-shadow: 0 0 5px #0009;
    border-radius: 5px;
    max-width: 500px;
    padding: 7px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

#tagsInput {
    height: 28px;
    align-self: end;
    border: solid 1px transparent;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 0 7px;
    background-color: transparent;
    text-align: end;
}

#tagsInput:focus {
    background-color: #fcfcfc;
    border: solid 1px #beebff;
    text-align: left;
}

.document-tag{
    margin: 0px 2px;
    background-color: #0070ff;
    padding: 0px 8px;
    border-radius: 7px;
    height: min-content;
    color: white;
    font-variant: small-caps;
    font-family: Raleway, serif;
}

#tagContainer{
    position: relative;
    align-self: end;
    display: flex;
    height: 28px;
}

#tagContainer::before{
    content: "Use space to separate tags \aPress 'Enter' to save";
    position: absolute;
    top: 33px;
    background-color: white;
    padding: 2px 6px;
    border-radius: 5px;
    box-shadow: 0 0 5px #95959561;
    font-size: 11px;
    color: dimgray;
    display: none;
    white-space: pre-wrap;
}

#tagContainer:hover::before{
    display: block;
}

#tagLibraryList{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tagLibrary--tag{
    padding: 3px 12px;
    background-color: #0070ff;
    border-radius: 7px;
    margin: 4px 5px;
    color: white;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.2s;
}

.tagLibrary--tag:hover{
    color: #0070ff;
    background-color: white;
    border: solid 1px #0070ff;
}

.tagLibrary--doc{
    padding: 4px;
    font-size: 18px;
    cursor: pointer;
}

#modalContainerModal{
    width: 100%;
    height: 100%;
    background-color: #00000094;
}

