:root {
    --menu-container-width: 75px;
    --library-container-width: 480px;
}

body {
    height: 100vh;
    width: 100vw;
}

#rootContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

#menuContainer {
    width: var(--menu-container-width);
    background-color: #f3f3f3;
}

#libraryContainer {
    width: var(--library-container-width);
    padding: 7px 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#contentContainer {
    width: calc(100% - var(--menu-container-width) - var(--library-container-width));
    background-color: #f1fbff;
    overflow-y: auto;
    padding: 0 15px;
}

.library-template-container {
    padding: 6px 5px;
}

.library-template-container:hover {
    box-shadow: 0 0 5px #4b4b4b66;
}

.library-template-title {
    margin-bottom: 0;
    cursor: pointer;
}

.library-template-url {
    margin-left: 10px;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content {
    margin: 0 auto;
    max-width: 1160px;
}

#contentToolbarContainer {
    height: 100px;
}

#contentToolbar {
    margin: 0 auto;
    max-width: 1160px;
    border-bottom: solid 1px #9e9e9e;
    height: 66px;
    display: flex;
}

.content-toolbar-item {
    align-self: end;
    padding: 5px;
    margin: 0 2px
}

#contentToolbar img {
    width: 35px;
}