:root {
    --menu-container-width: 75px;
    --library-container-width: 480px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

#rootContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

#menuContainer {
    width: var(--menu-container-width);
    background-color: #f3f3f3;
}

#libraryContainer {
    width: var(--library-container-width);
    padding: 7px 0;
    overflow-x: hidden;
    box-shadow: 1px 0 5px #00000080;
}

#contentContainer {
    width: calc(100% - var(--menu-container-width) - var(--library-container-width));
    background-color: #f1fbffb3;
    overflow-y: auto;
    padding: 0 15px;
}

.library-template-container {
    padding: 8px 7px;
}

.library-template-container:hover {
    box-shadow: 0 0 5px #4b4b4b66;
    background-color: #0776ff;
    color: white;
}

.library-template-title {
    margin-bottom: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.library-template-title:hover .library-template-external-link {
    display: inline;
}

.library-template-external-link {
    display: none;
    opacity: 0.6;
    width: 20px;
    vertical-align: bottom;
    margin-left: 5px;
}

.library-template-url {
    margin-left: 10px;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content {
    margin: 0 auto;
    max-width: 1160px;
    font-family: 'Laila', serif;
}

#contentToolbarContainer {
    height: 100px;
    display: flex;
    justify-content: center;
}

#contentToolbar {
    position: fixed;
    width: 1163px;
    border-bottom: solid 1px #9e9e9e;
    height: 66px;
    display: flex;
    background-color: #f5fcff;
}

.content-toolbar-item {
    align-self: end;
    padding: 5px;
    margin: 0 2px;
    cursor: pointer;
    transition: transform 0.3s;
}

.content-toolbar-item:hover {
    transform: scale(1.1);
}

#contentToolbar img {
    width: 35px;
}

#documentLibraryTitle, #tagLibraryTitle {
    font-family: Raleway, serif;
    font-variant: small-caps;
    margin-left: 6px;
    color: #0070ff;
}

#menuIcons {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.menu-icon {
    text-align: center;
    margin: 0 8px;
    border-bottom: solid 1px #0003;
    padding: 7px 0;
}

.menu-icon:hover {
    border-bottom: solid 1px #0070ff;
    cursor: pointer;
}

.menu-icon img {
    width: 65%;
}

#documentLibraryList {
    overflow-y: auto;
}

#tempStatusMsg {
    display: none;
    text-align: center;
    color: #fff;
    font-size: larger;
    position: absolute;
    top: 18px;
    right: 101px;
    font-family: Raleway, serif;
    background-color: #67a7fa;
    border-radius: 6px;
    padding: 6px 13px;
    box-shadow: 0 0 5px #0000004d;
    font-weight: bold;
    letter-spacing: 2px;
}

#highlightModal::before, #highlightModal::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    left: 50%;
    z-index: -1;
    box-shadow: 3px 3px 4px #0003;
}

#highlightModal::before {
    top: -17%;
}

#highlightModal::after {
    top: 83%;
}