#highlightModal::before, #highlightModal::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotate(45deg);
    left: 50%;
    z-index: -1;
}

#highlightModal.up::before {
    box-shadow: -3px -3px 4px #0000004d;
    top: -17%;
}

#highlightModal.down::after {
    box-shadow: 3px 3px 4px #0003;
    top: 83%;
}

#highlightModal {
    background-color: rgb(252, 252, 252);
    display: none;
    position: absolute;
    padding: 5px 9px;
    z-index: 1060;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px 1px;
    border-radius: 21px;
}

.highlightModal-icon {
    width: 28px;
    cursor: pointer;
    padding: 0;
}

#customSave-select {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 3px;
    display: block;
}

#highlightNotification {
    position: fixed;
    background-color: white;
    z-index: 99999;
    right: 0;
    top: 78px;
    padding: 9px 20px;
    box-shadow: 0 0 5px #00000080;
    border-radius: 6px 0 0 6px;
    display: none;
    max-width: 350px;
}

#highlightCustomSave, #highlight-notLoadedNotification, #highlight-authenticateModal {
    position: fixed;
    width: 326px;
    background-color: white;
    top: 15vh;
    right: 0;
    box-shadow: 0 0 11px 2px #0003;
    border-radius: 7px 0 0 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#customSaveContent {
    border: dashed 2px #0003;
    padding: 2px;
    margin-bottom: 12px;
    max-height: 250px;
    overflow-y: auto;
    font-size: 14px;
}

#customSave-saveButton {
    background-color: #0070ff;
    width: max-content;
    align-self: center;
    padding: 9px 7px;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    border: none;
}

#customSave-saveButton:hover {
    box-shadow: 0 0 5px #0009;
}

#highlightSocialMedia {
    position: absolute;
    top: -39px;
    left: 30px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px 1px;
    border-radius: 17px;
    display: none;
    padding: 3px 7px;
    cursor: pointer;
}

.highlightSocialMedia__icon:hover, .highlightModal-icon:hover {
    transform: translateY(1px);
}

#highlightSocialMedia.social-show {
    display: flex;
}

.highlightSocialMedia__icon {
    width: 28px;
    margin: 0 4px;
}

#hl-nln-checkbox {
    width: 20px;
    height: 20px;
    background-color: red;
    box-shadow: 0 0 5px #f009;
    border-radius: 50%;
}

#hl-nln-checkbox.checked {
    background-color: green;
    box-shadow: 0 0 5px #588758;
}

#hl-nln-checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.hl-nln-button {
    width: 49%;
}

#highlight-authenticateModal {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1001;
    width: 347px;
    padding: 22px;
    border-radius: 7px;
}

.authModal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authModal-button {
    padding: 19px 51px;
    border-radius: 4px;
    cursor: pointer;
}

.authModal-button.login {
    background-color: #a636ff;
    color: white;
    box-shadow: 0 0 5px #800080b5;
}

.authModal-button.guest {
    background-color: orange;
    box-shadow: 0 0 5px orange;
}

.authModal-heading {
    font-family: initial;
    font-variant: small-caps;
    margin-bottom: 7px;
}

#highlight-backgroundCover {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0009;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

#savedHighlightMsg {
    font-size: 12px;
    color: #878787;
    cursor: pointer;
    font-style: italic;
}

#highlight-displayer {
    position: fixed;
    right: 0;
    top: 70px;
    max-width: 360px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 5px #00000080;
    border-radius: 7px 0 0 7px;
    padding-left: 8px;
    z-index: 1030;
}

#hl-displayerList {
    overflow-y: auto;
    max-height: 80vh;
}

.hl-highlight {
    margin: 7px 0;
}

#hl-displayer-header {
    font-variant: small-caps;
    font-weight: bold;
    color: gray;
    display: inline-block;
}